{% extends 'base/main.html' %}
{% block title %}

  Room Detail  
{% endblock %}

{% block content %}
<h1> Room Detail List </h1>

 <br>  
 <h3>id = {{ room.id }}</h3>
 <br>
 <h3>name = {{ room.name }}</h3>
 <br>
 <h3>Description is: {{ room.description}}</h3>
 <br>
 <!-- Create a message -->

 <div class="comment-wrapper">
  <h3>
      Conversation
  </h3>
  <hr>
  
  {% for message in room_messages %}
    <div> 
      The user is {{ request.user.username }}
      <br> and the new message is:
      <p>{{ message.body }}</p>
      {{ message.created|timesince }} ago.
    </div>
  {% endfor %}
 {% if request.user.is_authenticated %}
  <div class="comment-form">
    <form action="" method="POST">
      {% csrf_token %}
      <input type="text" placeholder="Write your message here..." name="body" />
      <!--<button type="submit" value="Submit">Submit</button> -->

    </form>

  </div>
  {% endif %}

   

 </div>
 <h3>Date Last Updated: {{ room.update }}</h3> 
 <br>
 <h3>Date Created: {{ room.created }}</h3>

 
{% endblock %}
